[submodule "HazelEngine/vendor/spdlog"]
	path = HazelEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HazelEngine/vendor/GLFW"]
	path = HazelEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazelEngine/vendor/imgui"]
	path = HazelEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
